@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Oxygen:wght@300&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}
.hidden {
  display: none;
}

.nav {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
}

.name-container {
  width: 350px;
  height: 50px;
  position: relative;
  left: 14%;
}

/* ------------------- HOME STYLES -------------------  */
.homeContainer {
  width: 100vw;
  height: 100vh;
  color: #fff;
  /* font-family: "Oxygen", sans-serif; */
  font-family: "Comfortaa", cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.homeText,
.homeImage {
  width: 50%;
}
.homeText h1 {
  width: 400px;
  margin-left: 40%;
  text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
}
.homeText h1:nth-of-type(2) {
  margin-left: 57%;
}
.homeText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  animation: animateOpacity 4s;
}
.homeImage img {
  width: 60%;
  animation: animateOpacity 4s;
}
.workTransition {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  top: -83px;
  right: -83px;
  z-index: 20;
}
@keyframes animateOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ------------------- WORK STYLES -------------------  */
.workContainer {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", cursive;
  color: white;
  flex-wrap: wrap;
  position: relative;
  top: -60px;
}
.workCard {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background-color: deeppink;
  text-align: center;
  animation: animateOpacity 2.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.workCard img {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.workCard h2,
.workCard h3 {
  margin: 10px 0;
}
.workCard a {
  color: white;
}

.card-2 {
  margin: 0 30px;
}
/* card hover animation */
.card-1,
.card-2,
.card-3 {
  transition: all 0.2s ease-in-out;
}
.card-1:hover,
.card-2:hover,
.card-3:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
  .homeImage img {
    width: 90%;
  }
}

@media screen and (max-width: 1320px) {
  .homeContainer {
    flex-direction: column-reverse;
    text-align: center;
  }
  .homeText {
    width: 80%;
  }
  .homeText h1 {
    margin-left: 0;
    align-self: center;
  }
  .homeText h1:nth-of-type(2) {
    margin-left: 0%;
    align-self: center;
  }
  #workPointer {
    position: absolute;
    right: 17%;
  }
}
@media screen and (max-width: 1240px) {
  .workContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    overflow: scroll;
  }
  .card-1 {
    margin: 260px 0 0 0;
  }
  .card-2 {
    margin: 20px 0;
  }
  .card-3 {
    margin: 0 0 20px 0;
  }
}
